/*******************
GENERAL
********************/

* {
	box-sizing: border-box;
		}

a {
	text-decoration: none;
	}

body {
	font-family: 'Josefin Sans', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	}


.container {
	flex: 1;
}


/*******************
HEADER
********************/

.main-header {
	display: flex;
	flex-direction: row;

	}


.main-logo {
	width: 25%;
	}

.main-logo a img {
	width: 100%;
	}


/*******************
NAV
********************/

.main-nav {
	display: flex;
	list-style: none;
} 

.main-nav a {
	padding: 0 5px;
}




/*******************
CONTAINERS
********************/






/*******************
FOOTER
********************/

.main-footer{
	text-align: center;
	}



/*******************
COLORS
********************/

.main-nav a {
	color: #636363;
} 

.main-nav a:hover {
	color: #F7646C;
	}