/*******************
GENERAL
********************/

* {
	box-sizing: border-box;
		}

a {
	text-decoration: none;
	}

body {
	font-family: 'Josefin Sans', sans-serif;
	}


/*******************
HEADER
********************/


/*******************
NAV
********************/

ul { 
   list-style: none; 
   margin:0;
   padding:0;
   text-align: center;
   font-size: .85em;

	}

.logo, .main-nav,.main-nav li {
	display: inline-block;
	}


.main-nav li {
	margin: 5px 0px;
	}

.main-nav li a {
	padding: 10px 10px;
	


	}

.main-nav li a img {
	display: block;
	margin: 0 0 0 10px;
	width: 40%;

	}






/*******************
CONTAINERS
********************/

.container { 
	width: 100%;
	margin: 0 auto;
	padding: 5px 0;

	}


.wrap {
		min-height: calc(100vh - 20px);
	}

.container img {
	width: 30%;
	}





/*******************
FOOTER
********************/

.main-footer{
	text-align: center;
	}



/*******************
COLORS
********************/


.main-nav li {
	background-color: #fff;
	}

.main-nav li a {
	color: #513211;
	}


.main-nav a:hover {
	color: #d43886;
	}

.main-header {
	background-color: #fff; /****#d43886;***/
}
