/*******************
GENERAL
********************/

* {
	box-sizing: border-box;
		}

a {
	text-decoration: none;
	}

body {
	font-family: 'Josefin Sans', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	}


.container {
	flex: 1;
}


/*******************
HEADER
********************/

.main-header {
	display: flex;
	flex-direction: row;

	}


.main-logo {
	width: 25%;
	}

.main-logo a img {
	width: 100%;
	}


/*******************
NAV
********************/

.main-nav {
	display: flex;
	list-style: none;
	} 

.main-nav a {
	padding: 0 5px;
	}



/*******************
CONTAINERS
********************/


.promo1, .promo2  {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	margin: 30px 0;
	-webkit-box-shadow: 0 0 15px #b4b4b4;
        box-shadow: 0 0 20px #b4b4b4;	
	}

.promo1 img, .promo1 p, .promo1 a, .promo2 img, .promo2 p, .promo2 a {
	margin: 5%;
	}

.promo1 img, .promo2 img {
	width: 80%;
	height: 30vh;
	opacity: .8;
	}

.promo-title {
	font-size: 2.0em;
	text-align: center;
	}

.desc-promo {
	padding: 5px;
}

.tag-float {
	position: absolute;
	left: 40%;
	top: 35%;
	padding: 1% 1%;
	border-radius: 40%;
	}

.promo1 p, .promo2 p {
	max-width: 80%;
	margin-bottom: 20px;
	}

.promo1 a {
	text-align: center;
	width: 50%;
	border-radius: 5%;
	padding: 5px;

}

.promo2 a {
	border-radius: 5%;
	padding: 5px;
	margin: 5px;
}

.promo3 {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	padding: 5px;
	margin: 30px 0;
	flex-wrap: wrap;
	-webkit-box-shadow: 0 0 15px #b4b4b4;
        box-shadow: 0 0 20px #b4b4b4;		
}

.products-promo3 {
	width: 50%;
	text-align: center;
}

.promo3 img {
	width: 80%;
}





/*******************
FOOTER
********************/

.main-footer{
	text-align: center;
	}



/*******************
COLORS
********************/

.main-nav a {
	color: #636363;
} 

.main-nav a:hover {
	color: #F7646C;
	}

.tag-float {
	background-color: rgba(247,100,108, 0.5);
}

.promo1 a, .promo2 a {
	background-color: #FB3A44;
	color: #fff;
}


.promo1, .promo2, .promo3 {
	color: #636363
}

.tag-float {
	color: #fff;
}

.promo-title {
	color: #F7646C;
}

.promo3 a {
	color: #636363;
}